<table id="suburbs-table", data-source="<%= suburbs_path(format: :json) %>">
  <thead>
    <tr>
      <th>Suburb<th>
      <th>State<th>
      <th>Post Code<th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

