<table id="suburbs-table", data-source="<%= suburbs_path(format: :json) %>">
  <thead>
    <tr>
      <th>Suburb</th>
      <th>State</th>
      <th>Post Code</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

