<div class="table-responsive">
<table id="suburbs-table", class="display" data-source="<%= suburbs_path(format: :json) %>">
  <thead>
    <tr>
      <th>Suburb</th>
      <th>State</th>
      <th>Post Code</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<%= button_to "+", new_suburb_path, :method => "get" %>
