<table>
  <tr>
    <th>Suburb<th>
    <th>State<th>
    <th>Post Code<th>
  </tr>

  <% @suburb.each do |suburb| %>
    <tr>
      <td><%= suburb.suburb %></td>
      <td><%= suburb.state %></td>
      <td><%= suburb.post_code %></td>
    </tr>
  <% end %>
</table>

