<div class="table-responsive">
<table id="itemstores-table", class="display table" data-source="<%= item_stores_path(format: :json) %>">
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Price</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<%= button_to "+", new_item_store_path, :method => "get" %>